default_scope = "nix-darwin"

[scopes.nix-darwin]
description = "Apple payload option definitions (standalone)"

options-list-cmd = '''
nix eval --impure  --json   --expr '
    let
      pkgs = import <nixpkgs> {};
      lib = pkgs.lib;

      eval = lib.evalModules {
        modules = [
          ./nix-modules/payloads/all-payloads.nix
        ];
      };

      optionsList =
        builtins.filter
          (opt: (opt.visible or true) && !(opt.internal or false))
          (lib.optionAttrSetToDocList eval.options);
    in
      optionsList
  '
'''